.vscode/
__pycache__/
checkpoints/

**/*.exe
**/*.dll
**/*.lib
**/*.exp
**/*.so
**/*.bin
**/*.binpack
**/*.mf
**/*.sw
**/*.starway

**/chess-test
**/montyformat-to-starway
**/display-data

!cpp/chess/embeds/*.bin
