.vscode/
__pycache__/
checkpoints/

**/*.exe
**/*.dll
**/*.lib
**/*.exp
**/*.so
**/*.bin
**/*.binpack
**/*.mf
**/*.sw
**/*.starway

**/chess_test
**/montyformat_to_starway
**/display_starway_format

!cpp/chess/embeds/*.bin
!**/moves_map_1880.bin
